.navbar-bootswatch {
    @extend .navbar-dark;
    background-color: $primary;
    a .usertext {
        color: $navbar-dark-color;
        @include hover-focus {
            color: $navbar-dark-hover-color;
        }

        &.disabled {
            color: $navbar-dark-disabled-color;
        }
    }
    .dropdown-menu a .icon {
        color: inherit !important;
    }
}