// General Post SCSS for use in all presets.

body {
    background-color: #FFF;
}

// Generate the column layout css.
@mixin page_layout($blockswidth) {
    $mainwidth-oneblock: (100% - $blockswidth);
    $mainwidth-twoblocks: (100% - $blockswidth * 2);
    #page-content{
        display: flex;

        .region-main {
            flex: 0 0 100%;
            padding: 0 1rem;
        }

        &.blocks-pre {
            .columnleft {
                flex: 0 0 $blockswidth;
                order: -1;
                padding: 0 1rem;
                max-width: $blockswidth;
            }
            .region-main {
                flex: 0 0 $mainwidth-oneblock;
                max-width: $mainwidth-oneblock;
                padding: 0 1rem 0 0;
            }
        }
        &.blocks-post {
            .region-main {
                flex: 0 0 $mainwidth-oneblock;
                max-width: $mainwidth-oneblock;
                padding: 0 0 0 1rem;
            }
            .columnright {
                flex: 0 0 $blockswidth;
                padding: 0 1rem;
                max-width: $blockswidth;
            }
        }
        &.blocks-pre.blocks-post {
            .region-main {
                flex: 0 0 $mainwidth-twoblocks;
                max-width: $mainwidth-twoblocks;
                padding: 0;
            }
        }

        [data-region="blocks-column"] {
            width: 100%;
        }
    }

    .empty-region-side-pre {
        &.used-region-side-post {
            #page-content {
                .region-main {
                    flex: 0 0 $mainwidth-oneblock;
                    max-width: $mainwidth-oneblock;
                    padding-left: 1rem;
                }
                .columnright {
                    flex: 0 0 $blockswidth;
                    padding: 0 1rem;
                    max-width: $blockswidth;
                }
            }
        }
    }
    .empty-region-side-post {
        &.used-region-side-pre {
            #page-content {
                .region-main {
                    flex: 0 0 $mainwidth-oneblock;
                    max-width: $mainwidth-oneblock;
                    padding-right: 1rem;
                }
                .columnleft {
                    flex: 0 0 $blockswidth;
                    order: -1;
                    padding: 0 1rem;
                    max-width: $blockswidth;
                }
            }
        }
    }
    .used-region-side-post {
        &.used-region-side-pre {
            #page-content {
                .region-main {
                    flex: 0 0 $mainwidth-twoblocks;
                    max-width: $mainwidth-twoblocks;
                    padding:0;
                }
                .columnleft {
                    flex: 0 0 $blockswidth;
                    order: -1;
                    padding: 0 1rem;
                    max-width: $blockswidth;
                }
                .columnright {
                    flex: 0 0 $blockswidth;
                    padding: 0 1rem;
                    max-width: $blockswidth;
                }
            }
        }
    }
}

// The block column nees some padding on small devices.
@include media-breakpoint-down(sm) {
    .blockcolumn,
    .region-main {
        flex: 0 0 100%;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }
}

// When changing this please check the size of the calendar block.
@include media-breakpoint-up(md) {
    @include page_layout(32%);
}

@include media-breakpoint-up(lg) {
    @include page_layout(25%);
}

@include media-breakpoint-up(xl) {
    @include page_layout(20%);
}


.block {
    background-color: #efefef;
    &.block_myoverview {
        background-color: transparent;
    }
}

.block.block_settings {
    #settingsnav {
        margin: 0 -15px;
        padding-top: 0px !important;
    }
}
.block.block_navigation .block_tree ul,
.block_settings .block_tree ul {
    margin-left: 0;
    padding-left: 0.5rem;
}
.block_navigation,
.block_settings {
    .block_tree {
        .tree_item.branch {
            padding-left: 1.3rem;
        }
        p.hasicon {
            text-indent: 0;
            padding-left: 1rem;
        }
    }
}

.block_tree .tree_item.branch {
    margin-left: 0;
}


